* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ref-body {
    background-color: #252525;
    height: 500vh;
}

.pi-body {
    background-color: #252525;
    height: 500vh;
}

@font-face {
    font-family: 'Bosch';
    src: url(components/Bosch.otf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(components/Montserrat.ttf);
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(components/Proxima-Nova.otf);
}

@font-face {
    font-family: 'Crimson Text';
    src: url(components/Crimson-Text.ttf);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255); 
    border-radius: 10px;
}

header {
    padding: 20px 30px;
    background-color: #252525;
    display: flex;
    align-items: baseline;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    max-height: 95px;
    z-index: 99;
}

.nav a {
    margin-left: 50px;
    text-decoration: none;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo {
    color: white;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 3px;
}






#project {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
    /* padding-top: calc(25vh - 40px); */
}

.work h1 {
    color: white;
    font-size: 36px;
    font-family: Proxima Nova;
    letter-spacing: 2px;
    padding-top: 200px;
    line-height: 1.5;
}

.work h2 {
    margin-top: 100px;
    color: white;
    font-size: 25px;
    font-family: Montserrat;
    font-weight: 500;
    /* letter-spacing: 3px; */
}

.work p {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 30px 0px;
    font-size: 16px;
    line-height: 1.75;
}

.introduction {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.introduction h1 {
    padding-top: 0;
}

.tau-pi-defs {
    margin-left: 50px;
}

.clip {
    height: 100%;
    width: 100%;
}

.unit-circle h1 {
    padding-top: 0px;
}

.centered-angles {
    display: flex;
    justify-content: space-evenly;
}

.centered-angles p {
    font-size: 24px;
    margin-bottom: 0px;
}

.theta-shifts h2 {
    font-family: Proxima Nova;
    letter-spacing: 3px;
}

.centered-equations {
    display: flex;
    justify-content: space-evenly;
    
}

.centered-equations p{
    font-size: 28px;
}

.centered-functions {
    display: flex;
    justify-content: space-evenly;
    max-width: 750px;
}

.centered-functions p {
    font-size: 20px;
}






#pi-ordinances {
    margin-left: auto;
    margin-right: auto;
}

.intro {
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.intro-content h1 {
    font-family: Bosch;
    color: white;
    font-size: calc(75px + 2vw);
    /* font-size: 6.82vw; */
    letter-spacing: 0.05em;
}

.intro-content h2 {
    margin-top: 2em;
    color: white;
    font-family: Proxima Nova;
    font-weight: 400;
    /* font-size: 1.4vw; */
    font-size: calc(16px + 0.5vw);
    letter-spacing: 0.02em;
}

.resolutions {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.sec-title {
    display: flex;
    align-items: baseline;
}

.sec-title h1 {
    color: white;
    font-size: 1.75em;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.sec-title h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.7em;
    color: white;
    margin-left: 30px;
    font-weight: 400;
}

.resolution-content p {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 30px 0px;
    font-size: 18px;
    line-height: 1.75;
}









#references {
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
    display: grid;
    align-items: center;
    height: auto;
    padding-top: calc(25vh - 40px);
}

.references h1 {
    color: white;
    font-size: 40px;
    font-family: Bosch;
    letter-spacing: 5px;
}

.references p {
    color: white;
    margin: 40px 0;
}






#block {
    height: 25vh;
}